/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/06/2023, 16:35:57
    Author     : Izavan
*/

.profile-container {
    margin: 20px;
}

.profile-grid {
    display: grid;
    grid-template-columns: 500px auto;
    grid-gap: 50px;
}

.profile-grid label {
    font-weight: bold;
}

.edit-profile-btn {
    margin-top: 40px;
    margin-right: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.cards-container .card {
    width: 25rem;
    text-align: left;
}

.cards-container .card .card-header {
    margin-bottom: 1em;
    text-align: left;
}

.cards-container .card .card-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.cards-container .card .card-buttons button {
    font-size: 1.8em; 
    width: 3em;
}

.my-button {
    margin-top: 10px; /* Ajuste a margem superior conforme necessário */
    margin-left: 20px; /* Ajuste a margem esquerda conforme necessário */
    width: 70px; /* Ajuste a largura do botão conforme necessário */
    font-size: 1.2em; 
}
